<div class="row justify-content-center">
  <div class="col-12 text-center text-dark h2 p-3">Veuillez choisir une action</div>
</div>
<div class="row text-center ">
  
  <div class="col-12">
    
    <button class="btn btn-outline-info border border-dark h2 p-4 " routerLink='./category'>Gestion des Boutiques</button>
  </div>
  <div class="col-12">
    
    <div class="btn btn-outline-info border border-dark h2 p-4">Gestion des Categories</div>

  </div>
  <div class="col-12">
    
    <div class="btn btn-outline-info border border-dark h2 p-4">Gestion des Produits</div>

  </div>

</div>


